<%- include('../partials/header.ejs') %>
<h2>Ajouter un étudiant</h2>
<%- include('../partials/nav.ejs') %>

<div class="container d-flex justify-content-center">
  <form action="/admin/student/add" method="post">
    <div class="form-group">
      <label for="promo">Promotion :</label>
      <div>
        <select name="promo" id="promo">
          <% for (promo of promos) { %>
          <option name="<%= promo.name %>" value="<%= promo.id %>"><%= promo.name %></option>
          <% } %>
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="labels"><label for="first_name">Prénom :</label></div>
      <input type="text" name="first_name" id="first_name" placeholder="Prénom">
    </div>

    <div class="form-group">
      <div class="labels"><label for="last_name">Nom :</label></div>
      <input type="text" name="last_name" id="last_name" placeholder="Nom">
    </div>

    <div class="form-group">
      <div class="labels"><label for="github_username">Pseudo Github :</label></div>
      <input type="text" name="github_username" id="github_username" placeholder="Pseudo Github">
    </div>

    <div class="form-group">
      <input type="submit" value="Ajouter" class="button button-green">
    </div>

  </form>
</div>

<%- include('../partials/footer.ejs') %>