<%- include("partials/header")%>
<h2>Tous les étudiants</h2>
<%- include('./partials/nav.ejs') %>

<div class="container d-flex flex-wrap">
    <% for (student of students) { %>
        <div class="card m-2" style="width: 18rem;">
            <img class="card-img-top" src="<%= student.profile_picture_url %>" alt="<%= student.last_name %> <%= student.first_name %>">
            <div class="card-body">
              <h5 class="card-title"><%= student.last_name %> <%= student.first_name %></h5>
              <p class="card-text">Élève O'Clock</p>
              <a href="#" class="btn btn-primary">Details</a>
            </div>
          </div>
    <% } %>
</div>

<%- include("partials/footer")%>